[2021-03-09 16:12] mjameswh opened #380 "Wrong image displayed after replacing file (image caching issue)"
**Describe the bug**
After replacing an image file by another with the same name but different content, the image shown in thumbnail is correct (that is, the new version is displayed), but the image displayed in viewer is incorrect (that is, the old version is displayed).

Issue can be fixed by restarting OnlyM, or by loading a large number of other images before going back to the first one (thus

[2021-03-11 14:30] mjameswh commented on #380
After investigation, issue also happens when image caching is disabled in OnlyM's settings.

[2021-03-11 19:26] mjameswh commented on #379
@impac1, here are some suggestions for you:

First, if at all possible, you should definitely try to have a second monitor when doing Zoom+OnlyM. Most laptops have a HDMI output connector. If your computer has such a connector, then you can plug it to a regular TV. That's free, and yet, that will make things much more easier for you.

Now, if connecting a second monitor is not possible, then open

[2021-03-24 13:04] zokradonh commented on #339
Why size presets at all? It should be possible to resize the window automatically to the media resolution. Whatever the resolution is (except exceeding ones).

Any drawbacks of such a solution?
- Transition effects would be a problem here.

My tests today with experimental code changes are working.

[2021-03-24 15:33] JoshLillis commented on #339
A few drawbacks I see:

If you happen to have media that is larger resolution than you want to push
through Zoom, quality could suffer. For example, if the media you have is
720p resolution, but you only have the bandwidth to smoothly push 480p
videos, the quality could suffer.  What I've seen before in my Zoom testing
over limited bandwidth.

If the media is larger resolution than your free scree

[2021-03-24 16:12] zokradonh commented on #339
You are right. There is a need to limit it.

What do you mean with "free screen space"? As long as the media window is in front, no other windows will interfere with screen share. You can also activate "Always top most"(don't know the english translation of the OnlyM option) then you do not have any problem here. Or did I miss something here?

If you fix the window size to 720p or 480p then you al

[2021-03-25 12:20] philscotland opened #384 "Can't display on 2nd screen after 20H2 Win10 update"
Hi Antony
I am on a Dell E7450 laptop.
Run the Zoom meetings with a dual-screen setup to offer a cleaner experience, similar to what we did at the hall.
Has an Nvidia 840M and an integrated Intel 5500 GPU.
Before, you could select in Nvidia control panel where you wanted to run an application. This has now changed and it is done in Windows. I suspect the issue could be in there.
Windows 10 Pro, ju

[2021-03-25 13:10] AntonyCorbett commented on #384
@philscotland It sounds like OnlyM is not detecting the second monitor. Please would you send the log file? Documents\OnlyM\Logs

[2021-03-25 14:31] JoshLillis commented on #339
I thought Zoom application windows can still overlap the media window and
show the gray boxes to the recipients.  I'll have to test that again and
check if I have always on top option enabled.

By inconsistent user experience, I meant for the user of OnlyM having the
media share window changing size with each item they share could be
problematic, though having a max limit would help somewhat.

Per

[2021-03-29 08:07] philscotland commented on #384
Hi Antony
please accept my slow reply, I have been a bit busy over the last few days as we all were I guess.
I did a full review of the HW issues I was experiencing after the 20H2 and realised that there were some fundamental issues with the whole graphic setup. This was certainly not caused by OnlyM. Not much worked properly anymore, sometimes I couldn't even find the external screen even though

[2021-03-29 08:46] #384 closed

[2021-03-30 08:49] georges-fr opened #385 "in mode windowed : "OnlyM Media window" close when video set to 00:00:00.."

[2021-03-31 17:22] AntonyCorbett commented on #385
@georges-fr Do you still need help with this? I notice the title has been deleted

[2021-04-01 08:22] georges-fr commented on #385
Hi Antony,
Thank you for your mail.
In fact, i still need help, but i wasn't shure to use the good procedure, so i have deleted my message

The problem i have :
I  and use OnlyM in windowed mode with zoom.
For images, it'ok. I can start image in window, then use it with zoom.
For video, if i want to preset the file to the begining, the window close automatically.

1- I start the vidéo : file is di

[2021-04-03 12:53] AntonyCorbett commented on #385
@georges-fr Sorry for the delay in responding. Have you tried the "Permanent backdrop" option in the Settings => Display section? (Ecran noir permanent). Does that help?

[2021-04-04 08:46] georges-fr commented on #385
I tried this option.
It works fine.
Thr "OnlyM Media window" keeps active anytime.
Thank you for your help.

[2021-04-04 11:32] #385 closed

[2021-05-29 16:00] robertkjr3d opened #386 "How do you, or can you add... and order video/image function?"
There appears to be no way to order the videos/images after they have been dropped into OnlyM.
You should be able to drag them up and down, or move them with an arrow function.

Maybe there is a unintuitive function that does exist, I just haven't found it?

What appears to be the case, is that it orders them alphabetically I think.  And you have no say in the matter after they have been dropped o

[2021-05-29 17:53] yjenb commented on #386
Hey,
I just use this way of ordering the files. I'm adding a 3 digits-prefix to the files to get them in the right order. And to make sure, I could add additional media files requested, I use an interval of 10. So my prefixes are: 010, 020, 030, etc.

![image](https://user-images.githubusercontent.com/53382065/120080076-83efa180-c0b7-11eb-9611-1f42da22d063.png)

I love this way to do it.

[2021-05-29 18:11] AntonyCorbett commented on #386
@robertkjr3d You are right. Please see the Wiki under Operation => General. There are no plans to provide manual ordering within OnlyM itself.

[2021-05-29 19:24] robertkjr3d commented on #386
hmm... I've been using the software for a while, and now during zoom-land even more, even sometimes for non-jw sharing.  Its such a great tool.  But have often wanted to move stuff around.  Being a programmer, it would seem that ordering wouldn't be that hard to add. Maybe I'll look at the source and put it in myself and recompile.

[2021-05-29 21:13] AntonyCorbett commented on #386
@robertkjr3d Thanks. A PR would be most welcome if you come up with a solution that are you willing to share. Some things we'd do well to consider:

1. How manual ordering is persisted across sessions (we would not want to lose the ordering if the application is closed and restarted).
2. Whether persistence is maintained per-folder, so that a change in Settings => Media folder and back again retai

[2021-05-30 11:08] robertkjr3d commented on #386
I've only used JW-Library compat mode.  I have noticed many known and unknown tend to knock the library-screen off its spot on the 2nd-screen.  But I'm sure that's another 'issue' somewhere on here your dealing with.  And not entirely your problem.

All of your items:... I'm impressed with the quick thinking of all of the items to take into consideration if I was to back-share it.

[2021-05-30 15:24] athornfam2 opened #387 "Instability Issues"
**Describe the bug**
During the meetings... we've noticed that OnlyM freezes at random times which stops us from displaying media over Zoom. The only fix, naturally, is to shut the program down from task manager and then reopen it which does work but can be tough for non-IT AV brothers to navigate during the meeting quickly.

**To Reproduce**
- This cannot be easily reproduced but typically adding

[2021-05-30 16:26] AntonyCorbett commented on #387
@athornfam2 This is likely the media foundation bug that affects video rendering on a secondary screen. Discussed elsewhere in this project.

Regards
Antony

[2021-05-30 19:21] athornfam2 commented on #387
Any chance of this being fixed?

From: Antony Corbett ***@***.***>
Sent: Sunday, May 30, 2021 12:27 PM
To: AntonyCorbett/OnlyM ***@***.***>
Cc: athornfam2 ***@***.***>; Mention ***@***.***>
Subject: Re: [AntonyCorbett/OnlyM] Instability Issues (#387)

@athornfam2 <https://github.com/athornfam2>  This is likely the media foundation bug that affects video rendering on a secondary screen. Discussed e

[2021-05-31 10:50] AntonyCorbett commented on #387
@athornfam2 Some background:

There is a known issue in .NET Framework, which MS describes as "a synchronization issue between WPF and the underlying WMP control have to resynchronize when the display changes occur." It happens to H.264 codec video files (MP4).

In my experience it It only seems to affect some video cards. In OnlyM there are several workarounds (none ideal):

1. Use full-screen mo

[2021-06-06 20:16] AntonyCorbett commented on #387
@athornfam2 I have ported the project to .NET 5 and would like to determine if this long standing Media Foundation bug has been fixed. Please let me know if you would be willing to test (unfortunately, I don't have machines on which I can replicate the issue).

[2021-06-06 21:20] athornfam2 commented on #387
Yes I would like to test.

Thanks,

Matthew Wolf

[2021-06-07 10:53] AntonyCorbett commented on #387
@athornfam2 Please download and install the latest pre-release (v2.0.0.1). If you later want to revert to the standard release please uninstall OnlyM first.

This version is built using .NET 5 and there are many changes in the code and framework. I hope that MS have given attention to the bug described above, but I have my doubts. If issues remain, I will attempt to integrate VLC for video renderi

[2021-06-08 01:35] athornfam2 commented on #387
@AntonyCorbett

I've installed the Pre-Release version of OnlyM. I'll see if we can use it at our meetings to test out as we have a backup AV attendant at all times. I'll let you know my findings in about 1-2 weeks. Do you need any logs or system performance reports from the app?

[2021-06-08 07:54] AntonyCorbett commented on #387
@athornfam2 Thanks for your help. I don't need any further information; I hope it should be fairly easy to detect whether the issue remains.

[2021-06-08 17:58] jstevensen opened #388 "Enable support for SVG images"
**Is your feature request related to a problem? Please describe.**
Some newer publications have SVG images instead of JPG, such as the Teaching Box in the current CBS book. For now, I'm converting these to png using Imagemagick.

**Describe the solution you'd like**
OnlyM would be able to display an SVG image.

**Describe alternatives you've considered**
Converting the image to a supported format,

[2021-06-11 22:14] wjrivera commented on #46
Implemented using Play/Pause, Stop and Skip Track media buttons.  However the problem is when it goes out of focus, keybinds won't work.<br/>
If I can make it to work like Spotify does, where out-of-focus media buttons work on the client, it could be a viable option.<br/>
Added this on **MainViewModel.cs**, not super optimized, but works.
[code]
And this on **MainWindow.xaml**
[code]

[2021-06-24 07:55] peter-altherr commented on #339
i would be very happy to see the proposed enhancements having a few options for windowed mode as described in JoshLillis very first post above :-) until today our congregations audio/video team has been dealing with vlc media player for both images and videos which works quite good in the background and provides a smooth user experience. worst case is having several images within a talk in differe

[2021-06-25 13:55] zokradonh commented on #339
VLC creates a new Win32 window handle for each new media (with new dimensions?). That is the reason why Zoom needs to restart screen share. OnlyM does not recreate the window. Zoom has no problems with window resizing and adjusts automatically. So resizing would not be a problem.

Also I think the case I mentioned is just an edge case. Most of the Zoom Clients will use something like 16:9. It just

[2021-06-26 01:33] MikeBastet opened #389 "Volume slider like in JW.LIB"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-26 08:29] AntonyCorbett commented on #389
@MikeBastet There is an OnlyM volume slider in Windows Volume Mixer.

[2021-06-26 08:29] #389 closed

[2021-06-27 12:43] #380 closed

[2021-07-01 16:35] zokradonh commented on #376
I often had exactly the same issue and found a solution: All files that were flagged by windows as coming from untrusted zone can only be played one time. The second time the Media Foundation raises MediaFailed event with FileNotFound inner exception and OnlyM goes into frozen state.

All files downloaded by JW Library are flagged as untrusted zone.

As soon as you trust the file, this problem nev

[2021-07-04 08:39] AntonyCorbett commented on #386
@robertkjr3d Closing now, but please reference this issue if you decide to create a PR. Thanks for your feedback.

[2021-07-04 08:39] #386 closed

[2021-07-04 11:29] AntonyCorbett commented on #350
The FFMPEG issue  (https://trac.ffmpeg.org/ticket/819) has been fixed and so I have backed out my workaround (FFmpegUtils.FixUnicodeUri).

[2021-07-04 11:29] #350 closed

[2021-07-04 11:41] AntonyCorbett commented on #379
@impac1 Closing for now as no further response. Please feel free to reopen if necessary.

[2021-07-04 11:41] #379 closed

[2021-07-04 13:03] #342 closed

[2021-07-04 13:50] AntonyCorbett commented on #342
@findel - fixed in latest pre-release

[2021-07-05 10:33] findel commented on #342
@AntonyCorbett Thank you for the ping. 😄

[2021-07-05 10:50] findel opened #391 "Setting for when videos finish - move to next media"
**Is your feature request related to a problem? Please describe.**
I would like to be able to put multiple videos into OnlyM and let them play in order. When playing a video, at the conclusion of the video OnlyM closes the media window automatically.

**Describe the solution you'd like**
Implement a setting under "videos & audio" that tells OnlyM to move on to the next media item at the conclusion

[2021-07-13 13:11] Harbspan opened #392 "Blank Screen Resize Issue"
System is Windows10 on Surface Pro4 with external monitor as extended display.

I use OnlyM on laptop screen with "Blank Screen" enabled. When using "Zoom" it is displayed on external monitor.

**Expected behavior**
Normally, prior to starting a "Zoom" session, I load media into OnlyM. With OnlyM running on laptop screen, I select "Blank Screen" "Play" button. A small blank screen appears at top l

[2021-07-13 13:54] AntonyCorbett commented on #392
@Harbspan can you confirm that "Windowed" mode is still selected in OnlyM Options => Display?

[2021-07-13 14:21] Harbspan commented on #392
Hi Antony. Yes it is. That's one of the first things checked.
LesH.

Sent from my Samsung Mobile on the Telstra Mobile Network

-------- Original message --------
From: Antony Corbett ***@***.***>
Date: 13/7/21 11:54 pm (GMT+10:00)
To: AntonyCorbett/OnlyM ***@***.***>
Cc: Harbspan ***@***.***>, Mention ***@***.***>
Subject: Re: [AntonyCorbett/OnlyM] Blank Screen Resize Issue (#392)

@Harbspan<http

[2021-07-13 15:07] AntonyCorbett commented on #392
@Harbspan Thanks. I can't reproduce the problem (I have KB5004945 installed). What version of OnlyM are you using please? Would you send a copy of the log file, please?

[2021-07-14 10:36] Harbspan commented on #392
Hi Antony.
Thanks for following this up for me. Just tried it again with song 38  same problem. Blank screen opens full frame on my laptop screen but cannot move resize to external monitor. Song plays full frame on laptop only.
Version is 1.6.0.6
Log file attached.

LesH.

From: Antony Corbett ***@***.***>
Sent: Wednesday, 14 July 2021 1:08 AM
To: AntonyCorbett/OnlyM ***@***.***>
Cc: Harbspan ***@

[2021-07-14 10:57] AntonyCorbett commented on #392
@Harbspan Sorry, I should have asked you to adjust the logging level first - In Settings, Miscellaneous, please set the Logging level to "Verbose" and then send me another log file.

[2021-07-14 11:09] Harbspan commented on #392
Here you go...
LesH.

From: Antony Corbett ***@***.***>
Sent: Wednesday, 14 July 2021 8:58 PM
To: AntonyCorbett/OnlyM ***@***.***>
Cc: Harbspan ***@***.***>; Mention ***@***.***>
Subject: Re: [AntonyCorbett/OnlyM] Blank Screen Resize Issue (#392)

@Harbspan<https://apac01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FHarbspan&data=04%7C01%7C%7C68262d7fbef14f6b915808d946b63c17%7C

[2021-07-14 13:36] AntonyCorbett commented on #392
@Harbspan Please would you let me have a copy of your options.json file? It contains your settings and is found in the following folder:

`%AppData%\OnlyM\1`

Also, please indicate the pixel resolution of your monitor.

Thanks for your patience!

Regards
Antony

[2021-07-15 11:03] Harbspan commented on #392
Hi Antony.

Here's the info.

Laptop screen is 12.3 inch 2736x1824 pixels.
Monitor is HP 24MQ 23.8 inch 2560x1440 pixels.

Hope that helps.

LesH.

From: Antony Corbett ***@***.***>
Sent: Wednesday, 14 July 2021 11:37 PM
To: AntonyCorbett/OnlyM ***@***.***>
Cc: Harbspan ***@***.***>; Mention ***@***.***>
Subject: Re: [AntonyCorbett/OnlyM] Blank Screen Resize Issue (#392)

@Harbspan<https://apac01.

[2021-07-15 11:43] AntonyCorbett commented on #392
@Harbspan Thanks. The options,json file is missing.

[2021-07-15 11:49] Harbspan commented on #392
Sorry Antony...but it is attached on my end here. Just checked my sent folder and it is there and opens ok???
Will try again here.

From: Antony Corbett ***@***.***>
Sent: Thursday, 15 July 2021 9:44 PM
To: AntonyCorbett/OnlyM ***@***.***>
Cc: Harbspan ***@***.***>; Mention ***@***.***>
Subject: Re: [AntonyCorbett/OnlyM] Blank Screen Resize Issue (#392)

@Harbspan<https://apac01.safelinks.protecti

[2021-07-15 12:24] AntonyCorbett commented on #392
@Harbspan - that file type is not supported for upload on the GitHub issues page. Please rename it options.txt

[2021-07-15 20:36] Harbspan commented on #392
OK...Here we go. Hope this works.
LesH

From: Antony Corbett ***@***.***>
Sent: Thursday, 15 July 2021 10:25 PM
To: AntonyCorbett/OnlyM ***@***.***>
Cc: Harbspan ***@***.***>; Mention ***@***.***>
Subject: Re: [AntonyCorbett/OnlyM] Blank Screen Resize Issue (#392)

@Harbspan<https://apac01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FHarbspan&data=04%7C01%7C%7C45429b67e8194a2ea

[2021-07-16 07:33] AntonyCorbett commented on #392
@Harbspan The screen coordinates for the media window are out of range but you still be able to drag the window with the mouse and then resize it. Failing that, please try deleting the options.json file or editing the media window placement entry as follows:

`  "MediaWindowPlacement": "﻿<?xml version=\"1.0\" encoding=\"utf-8\"?><WINDOWPLACEMENT xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instanc

[2021-07-17 06:06] Harbspan commented on #392
Hi Antony.

Still trying, here’s what’s happened.
1/ I cannot select and drag the window from deskop on laptop to external monitor to resize, just nothing happens.
2/ Deleted the options.json file but as soon as I open OnlyM it creates a new one.
2/ Tried deleting and replacing with the new options.json file, but as soon as OnlyM is opened again it overwrites with a new one with the same operating

[2021-07-17 06:27] Harbspan commented on #392
Huh... In desperation I repeated something that I did in the outset before raising the issue. I uninstalled OnlyM... and reinstalled again (Same version???). Bingo!!! It's now working as before perfectly.

Thanks for persisting Antony.
LesH. (Harbspan)

[2021-07-17 06:30] #392 closed

[2021-07-20 14:00] jlader opened #393 "image display distorted after windows update"
**Describe the bug**
image display is distorted.  Started after latest Win10 Update.  setting fading style to "None" corrects the issue

the 2 attached pictures show the same picture. with fading set to none, and fading set to crossfade.
![Fading None](https://user-images.githubusercontent.com/87709120/126337289-ee7652ae-688e-4e70-994a-16ee2346842f.jpg)
![fading crossfade](https://user-images.gith

[2021-07-20 14:33] AntonyCorbett commented on #393
@jlader Thanks for your report. Does it happen in Windows mode? Does it happen with landscape images? Does it happen using the latest pre-release of OnlyM?

[2021-07-20 14:41] AntonyCorbett commented on #393
@jlader Have you tried rolling back your video driver. Windows Updates sometimes change the driver.

[2021-07-20 16:02] jlader commented on #393
The pictures are from OnlyM in windowed mode.  with wide pictures, they
distort up and down. (see attached).  I did not roll back the video
driver, but I update to the latest Nvidia studio driver.  If you could
send me a link to the pre-release, I can give it a try.

On 7/20/2021 9:33 AM, Antony Corbett wrote:

[2021-07-25 16:51] athornfam2 commented on #387
@AntonyCorbett Wanted to follow up on this request. The .NET application has been working well. No issues on my end with the past meetings.

[2021-07-25 16:51] #387 closed

[2021-07-25 17:09] AntonyCorbett commented on #387
@athornfam2 thanks for the useful feedback. You know what will happen at the next meeting - right :)

[2021-07-28 20:13] EddyFernandez commented on #393
I have the same issue. I reported this to you via email but just wanted to add that I've tried reverting to 3 legacy video drivers and the outcome is just the same. My GPU is RTX 3080 Ti

[2021-08-04 09:45] drothmaler commented on #339
As you can see in the PR, linked above, I took the time to implement a Size-Preset feature for OnlyM - feel free to check it out if you want.

[2021-08-04 09:49] drothmaler commented on #339
I also had a look at the PR from @zokradonh and tried to integrate that too.

Unfortunately there are a few issues with the auto-sizing process... So before spending more time on that, I'd like to gather the actual interest on the Auto-Resize feature - because personally wouldn't like it, if the windows jumps around and most of the videos / pictures we use, are 720p anyway.

So could you all pleas

[2021-08-04 12:03] AntonyCorbett opened #396 "Change from Fixed Windowed size to Non-Windowed doesn't work"
When we change the media window from a fixed window size (windowed mode) to non-windowed, the media window retains its previous size. A restart is required.

[2021-08-04 12:04] AntonyCorbett opened #397 "Manual Fixed window size allows v large size"
The Media window "fixed size" mode allows you to enter very large numbers that crash the application.

[2021-08-04 12:14] drothmaler commented on #396
Hm, thought I tried that... I'll have a look later...

[2021-08-04 12:18] drothmaler commented on #397
Good Point... What do you think would be a reasonable max. size? 8192 x 6144 would be 4:3 8K (don't think anybody will ever need more than 1080p, but you never know...

[2021-08-04 13:27] AntonyCorbett commented on #397
@drothmaler Yes, that sounds reasonable. Would you like to have a go at it please?

[2021-08-06 06:47] #397 closed

[2021-08-06 06:47] #396 closed

[2021-08-07 18:28] AntonyCorbett commented on #367
@SaolDan I will close for now as there is no further response. Please feel free to reopen if necessary.

[2021-08-07 18:28] #367 closed

[2021-08-07 18:30] AntonyCorbett commented on #255
@LvDaniel There should be some performance improvement in the MediaFoundation using the latest version of OnlyM (which uses the .NET 5 runtime). I still have the option to implement a VLC renderer.

[2021-08-07 18:31] AntonyCorbett commented on #255
Sorry - I allowed this issue to go off-topic a little. I'll transfer it to a discussion.

[2021-08-07 18:31] #255 closed

[2021-08-07 22:43] Gaza84 opened #402 "Slide show titles not displaying in Only M 2.0.0.8"
Hi,

first of all thank you so much fo your invaluable tools!! they are a tremendous help.

i have just updated to the latest version on Only M (2.0.0.8) and i am noticing that the file name is no longer displaying in the Only M window for slideshow (.omslide) Files, ive attached a comparison between the old and new versions of the application.

![Only M](https://user-images.githubusercontent.com/

[2021-08-08 06:42] AntonyCorbett commented on #402
@Gaza84 Thanks for the bug report. Now fixed.

[2021-08-08 06:42] #402 closed

[2021-08-09 15:10] Gaza84 commented on #402
Thank you its working wonderfully now :)

[2021-08-11 14:04] Flasher404 opened #410 "Fade Out/In Image to Video"
**Describe the bug**
After install v2.0.0.9 noticed a switching glitch.  When showing an image and attempting to click and fade and play a video, sometimes the video fails and screen reverts to background.  Click image and sometimes it fails again requiring a third click to get the video playing.  This is intermittent, sometimes it works.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2021-08-15 15:56] AntonyCorbett commented on #410
@Flasher404 Thanks for the report. I haven't been able to reproduce the issue. Some questions:

1. What is the Images => Fading Style?
2. What is the Videos & Audio => Rendering Engine?
3. Does a change in any of the above settings fix the problem?
4. Do you experience problems when you manually "stop" an image before starting the video?
5. If the media window is rendered on your primary monitor,

[2021-08-21 16:55] jstevensen commented on #372
Slightly off topic, but I strongly recommend sharing video through the native zoom player instead of screen sharing. The quality is noticeably better and it's impossible to mess up.

[2021-08-24 08:59] MDGitHubing opened #413 "Screenshare not working simultaneously with background music"
**Describe the bug**

I want to share screen (Zoom) and play audio from JW Library, the same time an image is opened on OnlyM. Before this was possible. However now music doesn't play from JW Library if onlyM is opened - either you can't hear it or the music just doesn't play.

**To Reproduce**

1. Open OnlyM and JW Library
2. Play OnlyM image on second screen.
3. Share second screen on Zoom, ensu

[2021-08-25 01:56] scottys94 commented on #413
Which version of Zoom are you using?

[2021-08-29 00:19] MDGitHubing commented on #413
Zoom Version 5.7.4 (804)

On Wed, Aug 25, 2021 at 11:27 AM scottys94 ***@***.***> wrote:

[2021-08-29 13:53] c3aJeff commented on #373
Using Permanent Backdrop does work well - however, I also noticed that the lockup problem is resolved by switching from "Media Foundation" to "Ffmpeg" in Videos & Audio.

As a side note, I am on the Windows 11 21H2 beta (22000.168) and with the 160 update, MOnly would not work using Media Foundation. By unchecking JW Library Mode, selecting Permanent Backdrop and switching to Ffmpeg, it's working

[2021-08-29 16:11] AntonyCorbett commented on #373
@c3aJeff Which version of OnlyM are you using please? From v2 I am hoping that a bug in MediaFoundation will have been fixed - a bug that can cause video rendering issues on a secondary monitor.

[2021-08-29 18:21] c3aJeff commented on #373
I am using 2.0.0.10

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Antony ***@***.***>
Sent: Sunday, August 29, 2021 9:11 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [AntonyCorbett/OnlyM] Playing a video with "blank screen item" enable causes lockup (#373)

@c3aJeff<https://github.com/c3aJeff> Which version of OnlyM are you using please? From

[2021-09-10 18:50] c3aJeff commented on #373
Dear Brother Corbett

Today during a field service meeting with our Circuit Overseer he was helping some of the friends with the JW Library App which was very helpful. He said that you MUST use “one device” to keep your notes/tags on… and then back them up and restore them on your other device. I raised my hand and mentioned the Merge program and it’s benefits – and I was totally (and unlovingly,

[2021-09-10 19:23] AntonyCorbett commented on #373
@c3aJeff I'm sorry, but I removed a recent question from you because it was somewhat outside of the technical nature of this public group. Please feel to contact me by email here: antony@corbetts.org.uk

[2021-09-18 18:56] AntonyCorbett commented on #393
@jlader @EddyFernandez Does this issue remain? I am assuming it's caused by a Windows update interfering with the graphics driver.

[2021-09-18 18:57] AntonyCorbett commented on #410
@Flasher404 Closing for now, but please reopen if you can respond to the questions. Thanks.

[2021-09-18 18:57] #410 closed

[2021-09-27 19:13] jlader commented on #393
Issue is still there.  Updated the Nvidia driver for the RTX2060 video card.  Perhaps it is an issue with RTX cards.  Short term fix - turned of the picture transitions.  Every now and then I check if anythings changed.

[2021-10-04 09:46] jonathanmoss98 commented on #413
We have noticed this same type of issue in our congregation too. It happens even if Zoom is not running though, so I dont think it is Zoom related specifically (at least based on my testing)

OnlyM version: 2.0.0.11
JW Library version: 12.4.152 (115081)

**To reproduce on system with two screens:**
Open JW Library with play video on second display option enabled
Open OnlyM with output on same scre

[2021-10-18 10:39] 1konk2konk opened #421 "Wrong build uploaded to GH? OnlyM 2.0.0.12"
**Describe the bug**
OnlyMSetup.exe for Release OnlyM 2.0.0.12 is actually for OnlyM Slide Manager only.

**To Reproduce**
1. Download OnlyMSetup.exe from GH
2. Run the downloaded .exe

(After downloading the Portable version, could run OnlyM successfully.)

**Expected behavior**
To have the fully functioning OnlyM s/w.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2021-10-18 11:00] AntonyCorbett commented on #421
@1konk2konk Thanks for your report. I can't reproduce this issue and wonder if your AntiVirus software may be quarantining the OnlyM.exe file?

[2021-10-18 22:58] erskinerobin opened #422 "2nd Screen image wont fit on screen fully"
When I display an image on my second screen it is either overblown on the 2nd monitor, or it doesn't fill the entire screen.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - Windows version 10 Pro x64
 - Other important inf

[2021-10-19 07:44] AntonyCorbett commented on #422
@erskinerobin If the Display setting is correctly set to a Monitor then it may be that your Windows display scale is set differently for your 2 monitors.

[2021-10-21 17:15] AntonyCorbett commented on #393
@danielengels Do all monitors have the same scaling (in Windows Display Properties)?

[2021-10-24 07:42] DaveJCurtin opened #423 "is it possible to fade out an audio file"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-10-28 16:51] findel opened #424 ""Windowed" & "Resizeable" setting can result in a full screen window that can't be undone."
**Describe the bug**
When using the "Windowed" and "Resizeable" settings on Windows 10, if the user mistakenly drags the window to the top of the desktop, it will snap to full screen. This is okay, but the problem is that there appears to not be possible to exit the full screen display at that point. Using ESC to return to the previously sized window would make sense, but I couldn't find any keybo

[2021-11-04 17:09] danielengels commented on #393
I find something strange.
When i use this picture for example
![80 327](https://user-images.githubusercontent.com/6145739/140385496-0c1a2a7f-2826-445a-a803-f6472ecb0f71.jpg)
It will be displayed like this:
![Unbenannt](https://user-images.githubusercontent.com/6145739/140385717-1b08256b-7d44-4544-b3b7-d43a58848667.JPG)
When I use magick and convert the image to a 16:9 (so also with 1920x1080) form

[2021-11-04 18:01] AntonyCorbett commented on #393
@danielengels it works fine here. I do notice that the image resolution in the metadata is 300 dpi whereas the original is 96. These figures are meaningless but does it indicate that the image has been processed in some way?

[2021-11-04 18:22] danielengels commented on #393
The first pictures the original from jw.org.
The second is a screenshot with the windows snipping tool of the display of OnlyM.
The pictures processed with magick are working well. There is no strange aspect ratio and the pictures is not cutted. Here the procossed pictures with magick
![80_327_3](https://user-images.githubusercontent.com/6145739/140397065-d6b78778-1e77-4c6f-a0e8-2e37c8af3e52.jpg)

[2021-11-05 10:05] AntonyCorbett commented on #393
@danielengels To summarize:

1. You see distortion when using the original image (900x701)
2. The image is displayed correctly after you edit it to place it on a 1280x720 black background

Is that right? If so, perhaps you could experiment by processing the image in Magick but retaining the original pixel resolution.

It's difficult for me to do much here because I can't reproduce it (tested on 3

[2021-11-05 11:35] jlader commented on #393
I have tried multiple image formats and settings without any change to effect.  Since the latest update, the image has not been distorted for me.  if image fading is turned on,  there is an odd flicked during the transition.  I have set the image fading style to none, which seems to be the source of the issue.  even in the settings menu, if fading is turned on, distortion occurs when accessing dro

[2021-11-05 11:48] jlader commented on #393
here is a short video showing flick during transition.

https://user-images.githubusercontent.com/87709120/140505820-1b936512-7c61-42a3-ae19-e70f9f95bb23.mp4

[2021-11-05 18:09] danielengels commented on #393
Yes, when i put the blendeffect off, there is also no problems displaying the pictures. This really works

[2021-11-07 09:22] peter-altherr commented on #372
@jstevensen: technically you are absolutely right, but as soon as it comes to share more than one media there is a huge benefit using onlym.

[2021-11-21 18:08] bradenpintar commented on #393
Just an update on this. I am breaking in a new laptop running Windows 11. The OnlyM version I am using is 2.0.0.12. I had the issue with the pix being stretched horizontally. I cycled through the fading styles and all of them stretched the image except for "None". I did not restart OmlyM while trying each of the options.

[2021-11-21 19:42] jlader commented on #393
what are you system specs?

[2021-11-21 20:35] bradenpintar commented on #393
Hello,

Hopefully, this helps...

[image: image.png]

[image: image.png]

If you need more information, please let me know.

Thanks.
--
Braden Pintar

On Sun, Nov 21, 2021 at 2:42 PM jlader ***@***.***> wrote:

[2021-11-21 21:06] jlader commented on #393
pics didn't come through

[2021-11-21 22:36] bradenpintar commented on #393
Let's try the old-fashioned way...

OS: Windows 11 Pro (Build 22000)
Make/Model: Dell G15 5511
Processor: 11th Gen Intel i7-11800H @ 2.30GHz, 2304 MHz 8 Cores, 16 Logical
Processors
BIOS: Dell 1.6.0 2021-09-28

Video 1
Intel UHD Graphics
Driver version: 30.0.100.9864
Resolution: 1920 x 1080 x 360 hertz

Video 2
NVIDIA GeForce RTX 3060 Laptop GPU
Driver version: 27.21.14.6685
Resolution: 1920 x 108

[2021-11-21 22:53] jlader commented on #393
thanks.  as advanced as the Nvidia RTX hardware/software is, I suspect that it is is creating issues.  I suspect it in other issues I am having.

[2021-11-21 23:43] bradenpintar commented on #393
They kinda take over your video system.

I had in mind uninstalling all NVIDIA programs, deleting the card from the hardware list. Then, letting the system “find” the card again and loading just the driver.

To be fair, my laptop is a gaming machine. I do everything but on it, from database programming to 3D modeling. So…

Sent from my iPad

[2021-12-18 23:03] Grewcock opened #432 "Delete"
Hi, how do I erase media from ONLYM? I have allot of media stored from past meetings and it's a bit cluttered but I can't find a way to delete old media.

[2021-12-18 23:15] richfrantz commented on #432
Look in the wiki. The words you are looking for are "command panel"
________________________________
From: Grewcock ***@***.***>
Sent: Saturday, December 18, 2021 4:03 PM
To: AntonyCorbett/OnlyM ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [AntonyCorbett/OnlyM] Delete (Issue #432)

Hi, how do I erase media from ONLYM? I have allot of media stored from past meetings and it's a bit cluttered bu

[2021-12-19 09:08] AntonyCorbett commented on #432
@Grewcock You're right - it's not obvious is it? The Wiki suggests that you manage media files using Windows Explorer. Just click the folder icon at the bottom of the OnlyM window and then delete files as required from there.

[2021-12-19 11:10] timjobutler commented on #432
@AntonyCorbett Perhaps the _[General](https://github.com/AntonyCorbett/OnlyM/wiki#general)_ subheading in the **Operation** section could be renamed to _File Management_?

[2021-12-19 12:25] AntonyCorbett commented on #432
@timjobutler I've done as you suggested - thanks!

[2021-12-19 19:43] timjobutler commented on #432
I didn't think the suggestion would be accepted so quickly.

@Grewcock - does the change of subheading make it to find the information you needed?

[2021-12-19 19:59] Grewcock commented on #432
I'm not sure what you meant, change of subheading. I just wanted to know if
I can delete old pics and videos from the onlym file. i tried right click
but, nothing. I tried dragging to trash bin, nope. It seems like there
should be an easy way to delete media that I don't need anymore, no?

On Sun, Dec 19, 2021 at 2:44 PM Tim Butler ***@***.***> wrote:

[2021-12-19 21:01] AntonyCorbett commented on #432
Please manage media files using Windows Explorer. Just click the folder icon at the bottom of the OnlyM window and then delete files as required from there.

[2021-12-20 14:44] Grewcock commented on #432
Well that was easy, thank you very much. I know it probably was a dumb
question but I'm not very computer savvy, yet.

On Sun, Dec 19, 2021 at 4:01 PM Antony Corbett ***@***.***>
wrote:

[2021-12-20 16:21] #432 closed

[2022-01-02 04:24] Notabela commented on #388
@AntonyCorbett I would like to take on this issue. Any information you can provide on how to build this project locally, run tests etc. would be helpful. Thank you!

[2022-01-02 08:10] AntonyCorbett commented on #388
@Notabela Thanks for your kind offer - please go ahead. The solution is currently built in VS 2019 and there are a small number of integration tests in the **IntegrationTests** project. Please feel free to add tests if needed. Regarding SVG support, one option may be to create a Converter so that the image can be displayed in the existing Image component.

If you make changes to the string resourc

[2022-01-04 02:29] Notabela commented on #388
Thanks @AntonyCorbett Do you mind pointing me to the file or set of files to start from to begin to understand how images are processed in OnlyM. That might speed this up a bit for me. Thanks again!

[2022-01-04 10:06] AntonyCorbett commented on #388
@Notabela Please see below:

OnlyM.Core `MediaProviderService` should be updated to include the SVG image type.
OnlyM `ImageDisplayManager` contains the code that renders images in the `Image` control. This is the standard WPF Image control (which doesn't support SVG files), so I would approach this by modifying the OnlyM.CoreSys `GraphicUtils.InternalGetBitmapImage` method so that it recognises S

[2022-01-09 00:57] jonathanmoss98 commented on #413
As a follow up to this issue, I have discovered this issue occurs not just with OnlyM, but with PowerPoint as well, whereby if a PP slide is open in presenter mode and displayed on the same screen as the JW Library media window, the music will not start playing for a new song until the media window is activated. Once it is activated, the music starts and it is possible to switch back to the PP sli

[2022-02-21 03:51] lunarpoodle opened #436 "Windows 11 - Cannot Stop Media Playing"
Hi Anthony,

I recently upgraded to Windows 11 Home -
When I add video files to the media folder, I can hit "Play" - However, when I try to "stop" the playing - (by hitting the black square in the round green circle) - I am unable to stop the video.  I have to Ctrl+Alt+Del and kill the OnlyM program that way.

Please let me know if you know of a work around.
Thank you -
- YB - Andrew Allen - Massa

[2022-02-22 18:17] AntonyCorbett commented on #436
@lunarpoodle Hi Andrew. Thanks for the report. Unfortunately, I can't reproduce the problem and searching through the Issues history, I can't find anything of a similar nature. Some questions, please:

1. Which version of OnlyM you are using?
2. Does the problem occur with _all_ video files you have tried?
3. Does it happen in both Media Foundation and Ffmpeg rendering modes?
4. Does it make any d

[2022-02-23 18:25] lunarpoodle commented on #436
Hello Antony,

Thank you for your reply!
Last night we went on to try out all your suggestions.

First, I got the *version : 2.0.0.12 *-
Secondly, I tried out a whole range of video / picture files to see if
indeed "*ALL FILES*" did not work..

The short version is that it all worked fine. Flawless. No problems.
I went back to the initial files that had caused the problem, and it worked
just fine.

[2022-02-23 19:04] AntonyCorbett commented on #436
Hi Andrew. Thanks for testing. I'm glad it's working ok now, but it's a bit of a puzzle :) I'll close the issue.

Regards
Antony

[2022-02-23 19:04] #436 closed

[2022-02-26 03:16] jawbos commented on #372
Could you share how you used/setup Equalizer APO to overcome this issue? I am having the same audio volume issue on multiple different computers.

[2022-03-17 09:12] MDGitHubing commented on #413
Yes, seems to be the case

[2022-03-21 15:01] DaveBlaha opened #438 "When Zoom is running in dual screen mode, it is briefly visible when OnlyM transitions to JW Library"
**Describe the bug**
When Zoom is running in dual screen mode for hybrid meetings, its video window is briefly visible on auditorium monitors when OnlyM gives control of the second monitor back to JW Library

**To Reproduce**
Steps to reproduce the behavior:
1. Run Zoom is dual screen mode, with its video window showing on the second monitor
2. Open JW Library
3. Open OnlyM
4. Display an image on

[2022-03-21 19:07] #438 closed

[2022-03-28 19:28] simomaca opened #439 "clonazione"
ciao e grazie per questo ottimo programma .
Nonostante siano abilitati  "consenti clonazione schermo" e "clonazione abilitata per impostazione predefinita" , non appare la finestra di mirror .

consigli ?

pc Windows 10 Pro 21H2 19044.1586

[2022-03-28 20:06] AntonyCorbett commented on #439
@simomaca Thanks for the report - I see the same behaviour.

[2022-03-29 11:53] rubenmuehlhans commented on #46
@wjrivera i tried your modification but seems to be missing something. i get the following error. ObservableCollectionEx<MediaItem> has no definition for FirstOrDefault
Do you have any ideas? sorry i am not very firm with c#

[2022-03-29 20:23] simomaca commented on #439
grazie , ma è normale che  la finestra di mirror  si muove  e  il mause  quasi nulla ?

[2022-03-29 20:31] AntonyCorbett commented on #439
Sorry I don't understand your question. Please would you try again?

[2022-03-29 20:50] simomaca commented on #439
Certo e grazie per la risposta velocissima.
Vedo la finestra di mirroring  , ma  non è fissa  ( ferma ) , si sposta lei al posto del cursore del mause , soprattutto decentrata a sinistra .
Se non ingrandisco il clone va meglio ma è piccola come nel video ..

https://user-images.githubusercontent.com/102551592/160704514-f71174d7-eb06-4836-8c42-21b6f8a84b75.mp4

[2022-04-11 07:31] geostanko opened #442 "OnlyM"
**Describe the bug**
I can't use OnlyM anymore with JwLibrary...can't open full screen

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. See error

**Expected behavior**
full screen on second window

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - Windows 10
 - JwLibrary

[2022-04-11 08:37] AntonyCorbett commented on #442
@geostanko Can you describe what _does_ happen, please? e.g., does the media window fail to open, or does it open as a smaller window? Have you checked to see that the OnlyM Display Settings are correct?

[2022-04-11 08:55] geostanko commented on #442
first apologies, my english is not exactly the best   media window open as a smaller window and I can't open it to full size  I have settings from 2020. and don't know if I have to change something...can you send me correct Display settings  thank you for answer

    On Monday, April 11, 2022, 10:38:10 AM GMT+2, Antony Corbett ***@***.***> wrote:

@geostanko Can you describe what does happen, plea

[2022-04-11 09:11] AntonyCorbett commented on #442
@geostanko Thanks for the extra information :) In Settings => Display Settings uncheck the **Windowed** setting and select a monitor from the **Monitor** drop-down box.

[2022-04-11 09:27] geostanko commented on #442
ok, I'll do it and mail you back...bye
   On Monday, April 11, 2022, 11:11:39 AM GMT+2, Antony Corbett ***@***.***> wrote:

@geostanko Thanks for the extra information :) In Settings => Display Settings uncheck the Windowed setting and select a monitor from the Monitor drop-down box.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mention

[2022-04-11 16:38] geostanko commented on #442
yes , that's it  solved...I lost settings during Covid-19, somehow . projector was unplugged...one suggestion : word "Monitor" write with larger font in Settings ! thank you very much
still, how to display second monitor in Zoom ? I see only the first monitor for share

    On Monday, April 11, 2022, 11:11:39 AM GMT+2, Antony Corbett ***@***.***> wrote:

@geostanko Thanks for the extra information

[2022-04-11 16:56] geostanko commented on #442
what's new in new .exe for onlyM ? should I download it ? greeting

    On Monday, April 11, 2022, 11:11:39 AM GMT+2, Antony Corbett ***@***.***> wrote:

@geostanko Thanks for the extra information :) In Settings => Display Settings uncheck the Windowed setting and select a monitor from the Monitor drop-down box.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving

[2022-04-11 20:20] geostanko commented on #442
ok  how to display second monitor in Zoom share screen ?

    On Monday, April 11, 2022, 08:59:54 PM GMT+2, Antony Corbett ***@***.***> wrote:

The Release page provides a brief description of changes for each release.

https://github.com/AntonyCorbett/OnlyM/releases

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: **

[2022-04-17 15:14] geostanko commented on #442
dear Antony, is there any solution to display video on Zoom share screen from OnlyM ? or to be satisfied that we can watch in the Hall, and those present through Zoom to be able to listen ?
   On Monday, April 11, 2022, 08:59:54 PM GMT+2, Antony Corbett ***@***.***> wrote:

The Release page provides a brief description of changes for each release.

https://github.com/AntonyCorbett/OnlyM/releases

[2022-05-15 11:08] Ben9790 opened #446 "Play button faded out"
The play button for all types of media file is 'greyed out' so I cannot play media.

![image](https://user-images.githubusercontent.com/105588539/168469629-5287e129-c460-451f-8451-d4321b4a0482.png)

 - Windows version

[2022-05-15 19:16] geostanko commented on #442
the solution for my problem was so simple...I just needed to share second screen! :)

[2022-05-15 20:26] AntonyCorbett commented on #442
@geostanko glad you're sorted

[2022-05-15 20:26] #442 closed

[2022-05-16 03:33] scottys94 commented on #446
@Ben9790 Do you have a monitor selected in the settings of OnlyM?

[2022-05-17 09:43] BurleighP opened #447 "Manual for OnlyM slide manager"
Is there a manual for the OnlyM Slide Manager, though when i drag and drop the pictures into the Slide manager, there is no play button or settings available.

[2022-05-17 10:18] AntonyCorbett commented on #447
There is no manual :( You should create slideshows in the SlideshowManager and then drag them to OnlyM for display

[2022-05-17 10:18] #447 closed

[2022-05-24 18:36] JamesSwift opened #448 "Make JW Library Compatibility Mode aware of other windows"
**Is your feature request related to a problem? Please describe.**
In our setup, we have the JW Library media window on the second screen. We also have the Zoom "multi-monitor" window on the same screen, and we switch between these two as needed using the task bar. However, when we also use OnlyM to display pictures on that screen, if "JW Library Compatibility Mode" is enabled, once we stop the me

[2022-05-24 18:50] AntonyCorbett commented on #448
Hello James, you might try disabling the "JW Compatibility mode" and using the JwlMediaWin tool instead.

https://github.com/AntonyCorbett/JwlMediaWin

[2022-05-24 18:53] JamesSwift commented on #448
Thanks, I'll try that out 👍

[2022-05-26 15:48] Ben9790 commented on #446
I do now. Thank you.

[2022-05-26 16:58] #446 closed

[2022-06-11 09:47] Toppa247 opened #453 "Custom persistent screen and hide persistent screen"
Were trying to simplify the way we run our hybrid meeting.
Would it be possible to add a feature, that allows one to use a custom image of the year text as the persistent image?
In addition when persistent image is on, could there be a hide persistent image button that floats/remains visible (doesnt scroll away) so that you could reveal a zoom window behind it when needed?
This would be incredibly

[2022-06-29 00:12] athornfam2 opened #454 "Ability to Zoom in/out"
**Is your feature request related to a problem? Please describe.**
No - N/A

**Describe the solution you'd like**
Particularly during our meeting tonight we had JHA and TIC images to show. Our friends (both younger and older) are having a hard time viewing the image at its native size. We have to go outside of OnlyM to use Microsoft photos which interrupts the flow during the meeting.

**Describe

[2022-06-29 00:13] athornfam2 commented on #453
I was thinking of something similar to this but being able to capture a custom region similar to greenshot.

[2022-08-28 06:51] AllanChes opened #455 "Using OnlyM with 3 screens (laptop, second monitor and Hall screens)"
We are using a small screen laptop and are trying to use a second monitor to give more screen space at the Sound Desk. So that the JW Library will display on the Hall Monitors, we have had to choose the second Sound Desk monitor as the "main screen" for the laptop, otherwise the JW Library displays on the second monitor, as does OnlyM.  However, when we choose the second monitor as the "Main scree

[2022-10-06 15:21] KBrooks904 opened #460 "windows 11 issue"
just replaced computers with new ones which now have windows 11. when we try to share an image on zoom, onlym makes the display monitor the main one and we
lose the ability to have the zoom controls on the desktop. when we exit onlym
it reverts back to main desktop as 1 and the 2nd monitor as 2.

[2022-10-06 15:59] AntonyCorbett commented on #460
Hello. Please would you provide some more detailed information? OnlyM doesn't modify the order of monitors reported by Windows.

[2022-10-06 21:24] 2Badgers opened #461 "ONLYM and ONLYT not working since 22H2 update"
Our Kingdom Hall’s workstation runs Windows 11 Pro and this week it has been updated to Windows 11 22H2.  Prior to the update ONLYM and ONLYT worked fine (many thanks for this excellent tool).  Since the update ONLYT counts down on the workstation monitor but does not show on the timer monitor.  ONLYM is similar, it does not display the images on the two main large format screens.

Would it be bes

[2022-10-06 21:50] AntonyCorbett commented on #461
@2Badgers There are no reported issues with Win 11. I suspect it's just a case of specifying the correct monitors in the Settings pages. Please would you check and let me know if you are still struggling. Please see each application's wiki for further info on settings.

Kind regards
Antony

[2022-10-07 15:42] KBrooks904 commented on #460
Everything works fine when using JW Library in displaying videos, pictures, etc.Desktop monitor is main display and shows as 1. Wall monitor is 2nd display andshows as 2.When we go to use OnlyM (or VLC Media Player) then the wall monitor becomesmain display 1 and desktop monitor is now 2. Hope this helps.

    On Thursday, October 6, 2022 at 11:59:51 AM EDT, Antony Corbett ***@***.***> wrote:

Hel

[2022-10-07 16:03] AntonyCorbett commented on #460
@KBrooks904 Can you explain what you mean by "monitor 1" and "monitor 2", please? When you go into Windows Display Settings and click the Identify button are you saying that the monitor numbers are changed depending on whether OnlyM is running?

[2022-10-07 16:06] AntonyCorbett commented on #460
Perhaps you mean that OnlyM displays media on a different monitor to JW Library. If so, just go into the OnlyM settings and change the Media Monitor. Please see the OnlyM Wiki for more information on Settings if needed.

[2022-10-07 16:51] KBrooks904 commented on #460
monitor 1 is the computer desktopmonitor 2 is the monitor on the wall to display to the audience.When using JW Library is used everything is fine.When we use OnlyM then the displays are switched and the monitoron the wall becomes 1 and the computer desktop is the secondary monitor.I will check OnlyM WikiThanks

    On Friday, October 7, 2022 at 12:07:01 PM EDT, Antony Corbett ***@***.***> wrote:

[2022-10-08 08:18] 2Badgers commented on #461
All now working fine – Thanks.

I checked that the timer monitor and image monitors was set correctly, which they were.  So, I uninstalled the software and reinstalled, then set the monitors as appropriate and all worked well.

Thanks for your wiki suggestion, which were followed.  Thanks again.

[2022-11-01 10:39] shane-smith commented on #461
Hello! We're encountering the same problem after the 22H2 update, which we installed earlier this week.

1. Updated to 22H2
2. OnlyM launched but no longer displayed the image on the other screen, it seemed like the play button wasn't doing anything. So we switched to using VLC for now as a workaround.
3. Today, I tried to fix it by installing the latest version of OnlyM. But when it gets to the p

[2022-11-01 11:58] AntonyCorbett commented on #461
@shane-smith I can download .NET 5 from that link. I suspect there was a temporary issue connecting to the download or your network configuration prevents it. Although it's out of support, MS won't remove the download.

[2022-11-01 14:01] shane-smith commented on #461
Thanks for the quick response!

In that case I'll reattempt .NET 5 from that URL again soon.

[2022-11-09 15:50] AntonyCorbett commented on #461
@shane-smith Have you been able to resolve this issue, please?

[2022-11-22 09:37] shane-smith commented on #461
Sorry, I'll take another look soon.

[2022-11-23 10:29] shane-smith commented on #461
Unfortunately continuing to have problems with the link from the hall - using both Edge and Chrome.

I'll try using a VPN from home, see if it's a routing issue.

![image](https://user-images.githubusercontent.com/943942/203524250-ae30d9d8-d7a6-4e86-9c9f-71626ce3289b.png)